body {
  background-color: #121212;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.typing-test {
  width: 80%;
  max-width: 600px;
}


.text-container {
  position: relative;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
}


#text-to-type {
  font-size: 1.5em;
  line-height: 1.4;
  user-select: none;
  white-space: pre-wrap;
}


#hidden-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: none;
  outline: none;

}


span.correct {
  color: #fff;
}


span.incorrect {
  color: #ff5252;
}


span.pending {
  color: #747070;
}


@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

span.cursor::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 2px;
  height: 1em;
  background-color: yellow;
  animation: blink 1s step-end infinite;

  margin-right: -2px;
}

